CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
models
.vscode
cinnamon.egg-info
dist
CPackConfig.cmake
CPackSourceConfig.cmake
managerServiceTest
managerTest
modelTest
